
BackEnd/Cerveza/ong.iml
BackEnd/Cerveza/.idea/shelf/Uncommitted_changes_before_Checkout_at_07-10-2022_18_07__Changes_.xml
BackEnd/Cerveza/.idea/shelf/Uncommitted_changes_before_Checkout_at_07-10-2022_18_06__Changes_.xml
BackEnd/Cerveza/.idea/shelf/Uncommitted_changes_before_Checkout_at_07-10-2022_18_04__Changes_1.xml
BackEnd/Cerveza/.idea/shelf/Uncommitted_changes_before_Checkout_at_07-10-2022_18_04__Changes_.xml
BackEnd/Cerveza/.idea/misc.xml
BackEnd/Cerveza/.idea/libraries/Maven__org_junit_vintage_junit_vintage_engine_5_7_2.xml
BackEnd/Cerveza/.idea/libraries/Maven__junit_junit_4_13_2.xml
BackEnd/Cerveza/.idea/encodings.xml
BackEnd/Cerveza/.idea/compiler.xml
